
<div  id="userMenu"class="well sidebar-nav affix" >
    <ul  class="nav nav-list ">
        <li class="nav-header">@Messages("icasa.administration")</li>
        <li class="active"><a  href="#products" data-toggle="tab">@Messages("icasa.products")</a></li>
        <li ><a  href="#devices" data-toggle="tab">@Messages("icasa.devices")</a></li>
        <li class="divider"></li>
        <li><a href="#addProductModal" data-toggle="modal" >@Messages("icasa.newProduct") <i class="icon-plus"></i></a></li>
        <li><a href="#addServiceModal" data-toggle="modal" >@Messages("icasa.newService")<i class="icon-plus"></i></a></li>
        <li><a href="#addApplicationModal" data-toggle="modal" >@Messages("icasa.newApplication")<i class="icon-plus"></i></a></li>
        <li><a href="#addDeviceModal" data-toggle="modal" >@Messages("icasa.newDevice")<i class="icon-plus"></i></a></li>
    </ul>
    </ul>
</div>
