<!-- TEMPLATES-->
<!-- The template for the modal window with three tabs: description/services/applications-->
<!-- Add Application modal activated with the Admin menu-->
<div id="addApplicationModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabelNewApplication" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabelNewApplication" >@Messages("icasa.newApplication")</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" onSubmit = "return addApplication()" >
            <div class="control-group">
                <label class="control-label" for="inputApplicationName">@Messages("icasa.name")</label>
                <div class="controls">
                    <input type="text" maxlength="20" id="inputApplicationName" placeholder="Name">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" >@Messages("icasa.add")</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("icasa.close")</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Add Product modal activated with the Admin menu-->
<div id="addProductModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabelNewProduct" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabelNewProduct">@Messages("icasa.newProduct")</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" onSubmit = "return addProduct()" >
            <div class="control-group">
                <label class="control-label" for="inputProductName">@Messages("icasa.name")</label>
                <div class="controls">
                    <input type="text" maxlength="20" id="inputProductName" placeholder="Name">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" >@Messages("icasa.add")</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("icasa.close")</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Add Product modal activated with the Admin menu-->
<div id="addServiceModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabelNewService" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabelNewService">@Messages("icasa.newService")</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" onSubmit = "return addProduct()" >
            <div class="control-group">
                <label class="control-label" for="inputServiceName">@Messages("icasa.name")</label>
                <div class="controls">
                    <input type="text" maxlength="20" id="inputServiceName" placeholder="Name">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" >@Messages("icasa.add")</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("icasa.close")</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="@routes.Assets.at("javascripts/frameworks/require/require.js")" data-main="@routes.Assets.at("javascripts/usersPage")" > </script>