@() 
@import helper._ 
@main("Appstore") {@userMenu.render}{
<!-- Users Main page, right side pane-->
	<div class="tab-content">
		<!-- Main pane, list of available products-->
		<div class="tab-pane active" id="products">
			<h1>Just A Simple AppStore</h1>
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner" data-bind="foreach: products">
					<div data-bind="attr: {class: classItem}"> 
						<center>
						<a href="#" >
		            		<img data-bind="attr: {src: imageURL}" alt=""> 
		                </a>
		                </center>
		                <div class="carousel-caption">
			                <h4 data-bind="text: name"></h4>
			                <p data-bind="text: description"></p>
		             	</div>
		             </div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			<div class ="row offset1">
				<div   id="product_list" >
		 			<div  id="product_list" data-bind="foreach: products">
						<div >
							<div id="thumb-well" class="span3 well" data-bind="bsToggle:{}"> 
								<div style="z-index:0" >
									<img  data-bind="attr:{src: imageURL}" />
								</div>
								<div style="z-index:0">
									<p>
									    <button data-bind="attr:{href: modalIdRef}" data-toggle="modal" >Details</button> 
									 </p>
									  <h3 data-bind="text: name">Loading</h3>
									  <p data-bind="text: shortDescription">Loading</p>
								</div>
							</div>
						</div>
					</div>
					<div data-bind="template: { name: 'modal-product-template', foreach: products}"></div>
				</div>
			</div>
		</div>
		<!-- Main pane, list of purshased products-->
		<div class="tab-pane" id="ownedProducts">
			<div class="page-header">
            	<h3>Purshased products</h3>
         	</div>
			<div id="purshased-products" data-bind="foreach: products">

		 		<div class="accordion-products ">
		 			<div class="maccordion" data-bind="bsAccordionTable:{}">
		 				<ul class="nav nav-list">
							<li><h4><a href="#" data-bind="text: name"></a></h4>
							</li>	
						</ul> 				
					</div>
					<div class="hidden-table">
						<p data-bind="text: description"></p>
					</div>
					<div class="well hidden-table">
			 			<table class="table table-bordered table-condensed">
							<thead >
								<tr>
									<th>Application ID</th>
									<th>Name</th>
									<th>Short Description</th>
								 </tr>
							</thead>
							<tbody>
								<!--ko foreach: applications -->
									<tr>
										<td data-bind="text: id"></td>
										<td data-bind="text: name"></td>
										<td data-bind="text: description"></td>
									</tr>
								<!--/ko -->
							</tbody>
			 			</table>
			 			<table class="table table-bordered table-condensed">
							<thead >
								<tr>
									<th>Service ID</th>
									<th>Name</th>
									<th>Short Description</th>
								 </tr>
							</thead>
							<tbody>
								<!--ko foreach: services -->
									<tr>
										<td data-bind="text: id"></td>
										<td data-bind="text: name"></td>
										<td data-bind="text: description"></td>
									</tr>
								<!--/ko -->
							</tbody>
			 			</table>
		 			</div>
				</div> 
	  		</div>
	</div>

}
