@() 
@import helper._ 
@main("Appstore") {@userMenu.render}{
<!-- Users Main page, right side pane-->
	<div class="tab-content" id="main-tab-content">
		<!-- Main pane, list of available availableProducts-->
		<div class="tab-pane active" id="products">
			<h1>Just A Simple AppStore</h1>
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner" data-bind="foreach: availableProducts">
					<div data-bind="attr: {class: classItem}"> 
						<center>
						<a data-bind="attr:{href: modalIdRef}" data-toggle="modal" >
		            		<img class="carrousel-img" data-bind="attr: {src: imageURL}" alt=""> 
		                </a>
		                </center>
		                <div class="carousel-caption">
			                <h4 data-bind="text: name"></h4>
			                <p data-bind="text: description"></p>
		             	</div>
		             </div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			<div class ="row offset1" >
				<div   id="product_list" >
		 			<div  id="product_list" data-bind="foreach: availableProductsGrid">
						<div class="span3 well thumb-well" > 
							<table width="100%">
								<tr><td height="160" >
									<div data-bind="bsToggle:{}">
										<div  style="z-index:0" >
											<center>
												<img  class="grid-img" data-bind="attr:{src: imageURL}" />
											</center>
										</div>
										<div style="z-index:0">
											  <h4 data-bind="text: name">Loading</h4>
											  <p data-bind="text: shortDescription">Loading</p>
										</div>
									</div>
								</td>
								</tr>
								<tr>
									<td>
										<center>
										<p><span data-bind="text: name">Loading</span></p>
										<button data-bind="buyModalButton: {}" data-toggle="modal" >Buy</button> 
										<button data-bind="attr:{href: modalIdRef}" data-toggle="modal" >Details</button> 
										</center>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div data-bind="template: { name: 'modal-product-template', foreach: availableProductsGrid}"></div>
				</div>
			</div>
		</div>
		<!-- Main pane, list of purshased products-->
		<div class="tab-pane" id="ownedProducts">
			<div class="page-header">
            	<h3>Purchased products</h3>
         	</div>
         	<!--ko foreach: ownedProducts -->
			<div id="purshased-products">
		 		<div class="accordion-products ">
		 			<div class="maccordion" data-bind="bsAccordionTable:{}">
		 				<ul class="nav nav-list">
							<li><h4><a href="#" data-bind="text: name"></a></h4>
							</li>	
						</ul> 				
					</div>
					<div class="hidden-table">
						<p data-bind="text: description"></p>
					</div>
					<div class="well hidden-table">
			 			<table class="table table-bordered table-condensed">
							<thead >
								<tr>
									<th>Application ID</th>
									<th>Name</th>
									<th colspan="2">Description</th>
								 </tr>
							</thead>
							<tbody>
								<!--ko foreach: applications -->
									<tr>
										<td data-bind="text: id"></td>
										<td data-bind="text: name"></td>
										<td data-bind="text: description"></td>
										<td>
											<div class="dropdown" id="ownedDeviceList">
												<a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Install on<b class="caret"></b></a>
												<ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
													<!-- ko foreach: $root.ownedDevices -->
													<li><a tabindex="-1" href="#" data-bind="text: name, click: function(data,event) { $root.installApplication($parent,data,event) }">.</a></li>
													<!-- /ko-->
												</ul>
											</div>
										</td>
									</tr>
								<!--/ko -->
							</tbody>
			 			</table>
			 			<table class="table table-bordered table-condensed">
							<thead >
								<tr>
									<th>Service ID</th>
									<th>Name</th>
									<th>Description</th>
								 </tr>
							</thead>
							<tbody>
								<!--ko foreach: services -->
									<tr>
										<td data-bind="text: id"></td>
										<td data-bind="text: name"></td>
										<td data-bind="text: description"></td>
									</tr>
								<!--/ko -->
							</tbody>
			 			</table>
		 			</div>
				</div> 
	  		</div>
	  		<!-- /ko -->
		</div>
		<!-- Main pane, list of installed products-->
		<!-- ko foreach: ownedDevices -->
		<div class="tab-pane" data-bind="attr: {id: 'installed' + id}">
			<div class="page-header">
            	<h3>Installed products on <span data-bind="text: name"> </span></h3>
         	</div>
			<div class="well">
				<table class="table table-bordered table-condensed">
					<thead >
						<tr>
							<th>Application ID</th>
							<th>Name</th>
							<th colspan="2">Description</th>
						 </tr>
					</thead>
					<tbody>
						<!-- ko foreach: installedPackages-->
						<tr>
							<td data-bind="text: name"></td>
							<td data-bind="text: name"></td>
							<td data-bind="text: name"></td>
						</tr>
						<!-- /ko -->
					</tbody>
		 		</table>
	 		</div>
		</div>
		<!-- /ko -->
	</div> <!-- END of Users Main page, right side pane-->

	<!-- Add Device modal activated with the User menu-->
	<div id="addDeviceModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel" data-bind="text: name">New  Device</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" onSubmit = "return addDevice()" >
				<div class="control-group">
					<label class="control-label" for="inputDeviceName">Name</label>
					<div class="controls">
						<input type="text" maxlength="20" id="inputDeviceName" placeholder="Name">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputDeviceURL">URL</label>
					<div class="controls">
						<input type="text" id="inputDeviceURL" placeholder="URL">
					</div>
				</div>
				<div class="control-group">
    				<div class="controls">
      					<button class="btn btn-success" >Add</button>
		                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    				</div>
  				</div>
			</form>
        </div>
	 </div>
}
