
<div  class="well sidebar-nav affix" >
	<ul  class="nav nav-list ">
		<li class="nav-header">Products</li>
		<li class="active"><a  href="#products" data-toggle="tab">List of products</a></li>
		<li><a href="#ownedProducts" data-toggle="tab">Purchased products</a></li>
		<li><a href="#installed" data-toggle="tab" >Installed Applications</a></li>
		<li class="nav-header">Devices</li>
		<li><a href="#md1" data-toggle="tab">Dispositive 1</a></li>
		<li><a href="#md2" data-toggle="tab">Dispositive 2</a></li>
	</ul>
</div>
