
<div  id="userMenu"class="well sidebar-nav affix" >
	<ul  class="nav nav-list ">
		<li class="nav-header">Products</li>
		<li class="active"><a  href="#products" data-toggle="tab">List of products</a></li>
		<li><a  id="ownedProductLink" href="#ownedProducts" data-toggle="tab">Purchased products</a></li>
		<li class="nav-header">Devices</li>
		<!-- ko foreach: ownedDevices -->
		<li><a href="#installedSoftware" data-toggle="tab" data-bind="text: name, attr: {href: '#installed' + id}">Dispositive 1</a></li>
		<!-- /ko -->
		<li class="divider"></li>
		<li><a href="#addDeviceModal" data-toggle="modal" >Add Device <i class="icon-plus"></i></a></li>
	</ul>
</div>
