Download
==========

iCasa Platform distribution
----------

It contains the iCasa Platform gateway without any application.
<br/><br/>
<h3>Version=${project.version}</h3>
<br/>
<a href="http://maven.dynamis-technologies.com/artifactory/adele-repos/fr/liglab/adele/icasa/icasa.platform.distribution/${project.version}/icasa.platform.distribution-${project.version}.zip" class="btn
       btn-primary btn-large"><i class="fa-icon-download"></i>&nbsp; Download</a>

<hr/>
Light Follow Me application distribution
----------

The Light Follow Me application automates light up and down according to person presence detection.
All binary lights in a room are up if at least one person is detected in it.
It contains the iCasa Platform gateway with the Light Follow Me application and the iCasa Simulator Graphical User Interface (GUI).
<br/><br/>
<h3>Version=${project.version}</h3>
<br/>
<a href="http://maven.dynamis-technologies.com/artifactory/adele-repos/fr/liglab/adele/icasa/apps/paul.binary.light.follow.me.and.icasa/${project.version}/paul.binary.light.follow.me.and.icasa-${project.version}.zip" class="btn
       btn-primary btn-large"><i class="fa-icon-download"></i>&nbsp; Download</a>


