
Installation Prerequesites
------------

- Java Development Toolkit 6 or upper.


Installation Procedure
-----------

1. Download a full iCasa Platform binary distribution (We recommend the icasa.platform.distribution to start).
2. Unzip it on a local folder i.e. the ICASA_HOME directory.

Several launch scripts are in the root directory: startGateway.bat, startGateway.sh, debugGateway.bat and debugGateway.sh.

Launch
======

1. Go to the ICASA_HOME directory.
2. Execute startGateway.sh script on Unix systems or startGateway.bat script on Windows systems.

By default, the gateway port is set to 8080.
The standard distirbution provides Web Console, you can use the administration by open a web browser on _http://localhost:8080/system/console_
with login admin and password admin.






