@()
@import helper._

@main("iCasa Portal") {
<h1>iCasa Application Development Lifecycle</h1>
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner" data-bind="foreach: productsInCarousel">
        <div data-bind="attr: {class: classItem}">
            <center>
                <a href="#" >
                    <img data-bind="attr: {src: imageURL}" alt="">
                </a>
            </center>
            <div class="carousel-caption">
                <h4 data-bind="text: name, attr:{href: detailsRef}"></h4>
                <p data-bind="text: description"></p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class ="row-fluid">
    <div   id="product_list" >
        <div data-bind="foreach: productsNotInCarousel">
            <div >
                <div style="width:300px;height:230px" class="span3 well" data-bind="bsToggle:{}">
                    <div style="z-index:0" >
                        <img  data-bind="attr:{src: imageURL}" />
                    </div>
                    <div style="z-index:0">
                        <p>
                            <button data-bind="attr:{href: detailsRef}">Details</button>
                        </p>
                        <h3 data-bind="text: name">Loading</h3>
                        <p data-bind="text: shortDescription">Loading</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@routes.Assets.at("javascripts/frameworks/require/require.js")" data-main="@routes.Assets.at("javascripts/main")" > </script>
}