@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
    <script type="text/javascript">
        document.documentElement.className = 'tohide';
    </script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/frameworks/jquery/ui/1.9/css/smoothness/jquery-ui-1.9.0.custom.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/frameworks/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/frameworks/bootstrap/css/bootstrap-responsive.css")" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- Use to add browser prefix automatically -->
    <script src="@routes.Assets.at("javascripts/frameworks/prefixfree/prefixfree.min.js")"> </script>
    <script src="@routes.Assets.at("javascripts/frameworks/prefixfree/prefixfree.jquery.js")"> </script>
</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#"><img src="@routes.Assets.at("images/rectLogos/logoICasa_57.png")" alt="iCasaLogo" />Develop your own digital applications</a>
                    <nav class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="http://store-icasa.rhcloud.com/">AppStore</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="http://adeleresearchgroup.github.com/iCasa/">Wiki</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="http://adeleresearchgroup.github.com/iCasa/contacts">Contacts</a></li>
                        </ul>
                    </nav><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>
    <div class="row-fluid">
        <div class="span9 ">
            <div class="well">@content</div>
        </div>
    </div>
</body>
</html>
