@() 
@import helper._ 
@main("Appstore") {@userMenu.render}{
	<h1>Just A Simple AppStore</h1>
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner" data-bind="foreach: products">
			<div class="item" data-bind="attr: {class: classItem}"> <!--   -->
				<center>
				<a href="#" >
            		<img src="assets/images/products/default.jpg"  data-bind="attr: {src: imageURL}" alt=""> <!--  -->
                </a>
                </center>
                <div class="carousel-caption">
	                <h4 data-bind="text: name"></h4>
	                <p data-bind="text: description"></p>
             	</div>
             </div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<script src="@routes.Assets.at("javascripts/frameworks/require/require.js")" data-main="@routes.Assets.at("javascripts/usersPage")" > </script>
}
