@(title: String)(sidebar: Html)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<script type="text/javascript">
      document.documentElement.className = 'tohide';
</script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/frameworks/bootstrap/css/bootstrap.css")" >
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">




</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="/">Just A Simple AppStore</a>
			</div>
		</div>
	</div>
	<!-- <div class="container-fluid"> -->
		<!-- <div class="row-fluid"> -->
			<div data-spy="affix" data-offset-top="200" class="span3">@sidebar
			</div>
		<!-- <div> -->
		<!-- <div class="row-fluid"> -->
		<div class="row-fluid">
			<div class="span9 ">
				<div class="well">@content</div>
			</div>
		<!-- </div> -->

	</div>
</body>
</html>
